*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    padding: 15px 15px;
    background: #F15B22;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

/* --------Header area styles starts-------- */
.header{
    background-image: url(../images/banner/banner2.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
}
.header-text {
    padding: 130px 120px;
    text-align: right;
}
.color-r{
    color: #20bf6b;
}
.header-text h1{
    color: #151414;
    font-weight: 700;
    font-size: 50px;
}
.header-text p{
    margin: 20px 0 30px 0;
    color: #444343;
    font-size: 14px;
    line-height: 25px;
}
/* --------Header area styles End-------- */

/* --------Failure Area styles start-------- */

.failure {
    padding: 0 185px;
    margin-top: 100px;
}
.failure-content{
    display: flex;
}
.failure-image img{
    height: 80%;
}
.failure-details {
    padding: 60px;
    margin-top: 80px;
    margin-left: -115px;
}
.main-text{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 25px;
}
.para-text{
    color: #444343;
    font-weight: 400;
    line-height: 22px;
}

.failure-list li{
    list-style-type: none;
    margin: 0 0 0 -38px;
    margin-top: 20px;
}

.icon{
    color:  #16D887;
}

/* --------Failure Area styles End-------- */
.tour-plan{
    padding: 20px 185px;
    margin-bottom: 100px;
    background-color: #4443430e;
}
.tour-details h1{
    color: #151414;
    font-size: 38px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 65px;
    text-align: center;
}
.places{
   background-color: #fff;; 
   padding: 20px 30px;
   border-radius: 145px 145px 26px 26px;
}
.places h3{
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #F15B22;
}
.places p{
    margin-bottom: 40px;
}
.places img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 40px;
}
.tour-places{
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
}
.color-o{
    color: #F15B22;
}


/* ------------Plans Area Start----------- */

.plans{
    padding: 0 185px 120px 230px;
}
.update-text{
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
}

.my-plans{
    display: flex;
    gap: 80px;

}
.plan-item{
    text-align: center;
}
.plan-item h2{
    color: #151414;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
}
.plan-item h4{
    color: #737272;
    font-weight: 500;
    font-size: 18px;
}

/* ------------Plans Area Start----------- */
.quets{
    background: linear-gradient(to right,
    rgba(241, 91, 34, 0.7),
    rgba(241, 91, 34, 0.418),
    rgba(241, 91, 34, 0.205)),
    url(../images/watch.png);
    
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px 185px 100px 185px;
    border-radius: 10px;
}
.btn-modification{
    background-color: #fff;
    color: #F15B22;
    margin-left: 55px;
    margin-bottom: 55px;
}

.quets-details h2{
    font-size: 32px;
    font-weight: 700;
    padding: 60px 0 30px 60px;
    color:#fff;
}

/* ------------Plans Area End----------- */

/* -----------Footer-area Start---------- */

.footer-area{
    display: flex;
    background: #151414;
    padding: 90px 90px 30px 90px;
}
.footer-text h1{
    color: #151414;
    font-size: 34px;
    font-weight: 800;
    color: #fff;
}
.footer-text p{
    font-weight: 400;
    margin: 15px 0;
    color: #fff;
    font-size: 15px;
}
.footer-content{
    padding-left: 90px;
}
.footer-contacts{
    display: flex;
}
.footer-contacts .images{
    padding-right: 20px;
    padding-top: 20px;
}
.footer-input{
    padding-left: 274px;
}
.footer-input h4{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
.input-field{
    padding: 14px 90px 14px 12px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #151414;
    color: #fff;
}
.btn-footer{
    background: #fff;
    padding: 13px 24px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    color: #F15B22;
}
.copyright{
    color: #444343;
    margin-top: 30%;
}
/* -----------Footer-area End---------- */